body{
  margin: 3px;
}
.black-line {
    width: 100%;
    height: 4px;
    background: #00223e;
    position: fixed;
    top: 0;
    z-index: 999;
}
.black-line-divider{

  height: 4px;
  background: #00223e;
}
.margin{
  margin-left: 20%;
  margin-right: 20%;
}
.logo{
  margin-left: 8px;
}
nav ul li:hover {
   background-color: red;
}
.select-wrapper input.select-dropdown{
  border: none;
}
.dropdown-content li>span{
  color: #00223e;
}
.dropdown-content{
  box-shadow: none;
  border: 4px solid #00223e;
  width: 170px;
}
.padding-10{
  padding: 10px;
}
.border{
  margin-top: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: #00223e;
  border-radius: 3px;
}
.border-left{
  border-left: 4px solid #00223e;
  height: 64px;

}
.bg-img{
  display: block;
  left: -20px;
  top: -20px;
  position: absolute;
  max-height: calc(100% + 40px);
  max-width: calc(100% + 40px);
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  z-index: -1;
  background-size: cover;
  background-position: center;
  /*background-image: url("http://news.nationalgeographic.com/content/dam/news/rights-exempt/fair-use-screenshots/spider.ngsversion.1481821646343.jpg");*/
}
.img-container{
  position: relative;
  height: 300px;
}

.gutter{
  margin-right: 30px;
}
.padding-20{
  padding-left: 20px;
  padding-right: 20px;
  /*padding: 20px;*/
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.header-box{
  height: 58px;
  border-top: 4px solid #00223e;
}

.header-box:hover{
  background-color: yellow;
  color: white;
}
read{
  margin-top: 10px;
}
.icon-bg{
  position: absolute;

  z-index: -1;
  opacity: ;
  margin-left: -30px;
  margin-top: -80px;
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  background-color: red;
  border: solid 2px black;
}
.gif{
  width: 60%;
}
.pray{
  margin: auto;
  width: 50%;
}
.em-pray{
  height: 150px;
  width: 150px;
}
